<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282231451432-7kjr2m7l81khpujt7f8kj3bb7pbmek7f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282231451432-7kjr2m7l81khpujt7f8kj3bb7pbmek7f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>282231451432-9enjcbps5famouq9f6nvu24k5qshqaio.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAV2ZSJN4MG32dQmqYaFz6DOA4JHkRnb40</string>
	<key>GCM_SENDER_ID</key>
	<string>282231451432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pttcommunicate.pttmessenger</string>
	<key>PROJECT_ID</key>
	<string>ptt-communicator</string>
	<key>STORAGE_BUCKET</key>
	<string>ptt-communicator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282231451432:ios:9a1492027d418415056a1d</string>
	<key>DATABASE_URL</key>
	<string>https://ptt-communicator-default-rtdb.firebaseio.com</string>
</dict>
</plist>